## Data Example

In [1]:
#include <base/net/HTTPSRequest.h>
#include <base/data/DataTable.h>
#include <base/Jupyter.h>

In [2]:
using namespace base;

Get some data.

In [3]:
auto response = HTTPSRequest::load("https://support.staffbase.com/hc/en-us/article_attachments/360009197031/username.csv")

In [4]:
response

In [5]:
auto dt = DataTable::loadFromString(response.getFirst(), {
  {"Username", DataTable::TYPE_STRING},
  {"ID", DataTable::TYPE_STRING},
  {"First Name", DataTable::TYPE_STRING},
  {"Last Name", DataTable::TYPE_STRING}
}, DataTable::Config().setHeader(DataTable::HEADER_SKIP).setSeparator(';'))

In [6]:
dt.head(3)

Index,Username,ID,First Name,Last Name
0,booker12,9012,Rachel,Booker
1,grey07,2070,Laura,Grey
2,johnson81,4081,Craig,Johnson

In [7]:
dt.tail(3)

Index,Username,ID,First Name,Last Name
2,johnson81,4081,Craig,Johnson
3,jenkins46,9346,Mary,Jenkins
4,smith79,5079,Jamie,Smith

In [8]:
// https://en.wikipedia.org/wiki/Comma-separated_values#Example
const String d1 = R"(
Year,Make,Model,Description,Price
1997,Ford,E350,"ac, abs, moon",3000.00
1999,Chevy,"Venture ""Extended Edition""","",4900.00
1999,Chevy,"Venture ""Extended Edition, Very Large""",,5000.00
1996,Jeep,Grand Cherokee,"MUST SELL! air, moon roof, loaded",4799.00)";

try {
  Jupyter::display(DataTable::loadFromString(d1, {
    {"", "string"},
    {"", "string"},
    {"", "string"},
    {"", "string"},
    {"", "string"}
  }, DataTable::Config().setHeader(DataTable::HEADER_USE).setSeparator(',')));
} catch (Exception& e) {
  ferr << e << ENDL;
}

Index,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.00
1,1999,Chevy,"Venture ""Extended Edition""",,4900.00
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",,5000.00
3,1996,Jeep,Grand Cherokee,"MUST SELL! air, moon roof, loaded",4799.00